--find-links https://download.pytorch.org/whl/cu118/torch_stable.html

mediapipe == 0.10.14
numpy == 1.26.4
opencv-contrib-python == 4.10.0.84
mmengine == 0.10.4
lmdb == 1.5.1
ffmpeg_python == 0.2.0
paramiko == 3.4.0